.main-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.reservation-form-wrapper{
    width: 350px;
    text-align: center;

    button{
        height:50px;
        width:80%;
        background-color: #fff;
        border: 1px solid #000;
    }

}